<launch>
 <!-- joy node -->
  <node respawn="true" pkg="joy"
        type="joy_node" name="turtle_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>
  <!-- Buttons stop是A start是B-->
  <param name="stop" value="0" type="int"/>   
  <param name="start" value="1" type="int"/>

</launch>