<launch>
  <arg  name="model" />
  <param  name="robot_description"  textfile="$(find assembly2)/urdf/assembly.urdf" />

    <!-- 添加关节状态发布节点 -->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
    <!-- 添加机器人状态发布节点 -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <!-- 可选:用于控制关节运动的节点 -->
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" />

  <!-- <node name="rviz" pkg="rviz"  type="rviz" args="-d $(find assembly2)/urdf.rviz" /> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="map_to_world" args="0 0 0 0 0 0  map world 40" /> -->
  
  <node pkg="tf" type="static_transform_publisher" name="map_to_basefootprint" args="0 0 0 0 0 0  map base_footprint 40" />
</launch>