<launch>
  <arg  name="model" />
  <param  name="robot_description"  textfile="$(find assembly2)/urdf/assembly.urdf" />

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
  <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" />

  <!-- <node pkg="tf" type="static_transform_publisher" name="map_to_world" args="0 0 0 0 0 0  world map  40" /> -->
  
  <node pkg="tf" type="static_transform_publisher" name="world_to_basefootprint" args="0 0 0 0 0 0  world base_footprint 40" />
</launch>